include ../pug-mixins

mixin navigation
  +nav-mid("Sass変数の操作", "variables.html", "グラデーションとシャドウ", "gradient+shadow.html")
    block

doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Bootstrap 4 customization: Sassミックスインの利用
    link(rel="stylesheet" href="../css/mixins.css")
  body
    div.container
      +header-ja("mixins")
      +navigation
        p.lead Sassミックスインの利用
      h2#partials
        +link("https://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins") ミックスイン
      p.my-2 Bootstrap Sassソースコードには60以上の
        +link("https://sass-lang.com/documentation/file.SASS_REFERENCE.html#mixins") ミックスイン
        | があり、
        code mixins/
        |  サブディレクトリのソースファイルに記述されている(一覧は
        +link("https://github.com/twbs/bootstrap/tree/v4.1.1/scss/mixins") GitHubリポジトリ
        | を参照)。これらはBootstrapライブラリの構成部品として用いられているが、これらを利用して新しいスタイルを生成するのに利用することもできる。
      p.my-2 (パーシャルのインポートに 
        code @import "{パーシャル名}";
        |  を用いるのに対し) ミックスインを利用する場合は 
        +link("https://sass-lang.com/documentation/file.SASS_REFERENCE.html#including_a_mixin")
          code.text-danger @include "{ミックスイン名}";
        |  を用いる。
      p.my-2 実際の例を示す。Bootstrapが用意しているミックスインの中に
        code resizable($direction)
        | があり、これを追加することで対象要素をサイズ変更可能に設定することができる(
        code mixins/_resize.scss
        | で定義、だが実はBootstrapライブラリのどこにも使われていない)。次のコードはその応用で 
        code .resizable
        |  という名のカスタムユーティリティクラスを作成している。
      div
        code mixins.scss
        |  (本ページのSassソース)

      pre.p-2.mb-4.border.bg-light
        code
          = `// 先にBootstrapをインポート\n`
          = `@import "bootstrap/scss/bootstrap";\n`
          = `\n`
          = `// ユーティリティクラスを作成(縦横ともサイズ変更可能にする)\n`
          = `.resizable {\n`
          = `  @include resizable(both);\n`
          = `}`

      p.my-2
        strong デモ: 
        | 次のアラート 
        code div.alert.alert-success.resizable
        |  は 
        code .resizable
        |  ユーティリティクラスの応用例で、縦横ともサイズ変更できる。さらに内部のパラグラフも 
        code .resizable
        |  でサイズ変更できるようにしてある。
      div.alert.alert-success.resizable.mb-4
        p.my-0.resizable.bg-light 内側のパラグラフ(ここにも 
          code .resizable
          |  ユーティリティ使用)。Bootstrap Sassミックスイン
          code resizable($direction)
          |  を利用し、縦横ともサイズ変更できるように設定されている。

      +navigation
      +breadcrumb-1("ホーム", "Sassミックスインの利用") 

    +script-jquery
    +script-js
